*{
    margin:0;
    padding:0;
    font-family: "Helvetica";
    
}
body{
   
    background: url("../assets/wallpaper.jpg");
    image-orientation: -90deg;
    background-size: cover;
    background-repeat :no-repeat;
    height: 100vh;
    backdrop-filter: blur(25px);
    
    
}
.vehicule_list{
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.35);
    margin-left: 25%;
    width: 50%;
    border-radius: 25px;
    margin-top: 20vh ; 
}


.autonomie{
    margin-left: 5px;
    font-weight: bold;
}

.charging_time{
    margin-left: 5px;
    font-weight: bold;
}

.papa{
    
   flex-direction: column;
   text-align: center;
   
}
.choisissez {   
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

   
.info{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.autonomie{
    display: inline-block;
}
.charging_time{
    display: inline-block;
}

.header{
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.titre {
    padding: 10px;
    font-size: 40px;
    font-weight: 60;    
    display: inline-block;
    
}
.prenom{
    padding-top: 10px;
    padding-right: 10px;
    font-size: 40px;
    font-weight: 100;
    text-align: right;
    display: inline-block;
}
.nom{
    padding-top: 10px;
    padding-right: 10px;
    font-size: 40px;
    font-weight: 600;
    text-align: right;
    display: inline-block;
}

.select {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 50%;
    
}   
select:hover {
    color: #444645;
    background: #ddd;
    
    }
.select select {
        
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 0px solid #000000;
        border-radius: 45px;
        background: #e6e6e6;
        color: #7b7b7b;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        
}

.select select::-ms-expand {
    display: none;
    

}
.select select:hover,
.select select:focus {
    color: #000000;
    background: #e0e0e0;
    
    
}
.select select:disabled {
    opacity: 0.2;
    pointer-events: none;
    
}
.select_arrow {
    position: absolute;
    top: 13px;
    right: 18px;
    width: 0px;
    height: 0px;
    border: solid #7b7b7b;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #000000;
    
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

