*{
    margin:0;
    padding:0;
    font-family: "Helvetica";
    
}
body{
    background: url("../assets/wallpaper.jpg");
    image-orientation: -90deg;
    background-size: cover;
    background-repeat :no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(25px);
}
.vehicule_list{
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.35);
    margin-left: 2%;
    width: 30%;
    border-radius: 25px;
    margin-top: 5vh ; 
}

.autonomie{
    margin-left: 5px;
    font-weight: bold;
}

.charging_time{
    margin-left: 5px;
    font-weight: bold;
}

.papa{
    
   flex-direction: column;
   text-align: center;
   
}
.choisissez {   
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

   
.info{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.autonomie{
    display: inline-block;
}
.charging_time{
    display: inline-block;
}

.header{
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.titre {
    padding: 10px;
    font-size: 40px;
    font-weight: 60;    
    display: inline-block;
    
}
.prenom{
    padding-top: 10px;
    padding-right: 10px;
    font-size: 40px;
    font-weight: 100;
    text-align: right;
    display: inline-block;
}
.nom{
    padding-top: 10px;
    padding-right: 10px;
    font-size: 40px;
    font-weight: 600;
    text-align: right;
    display: inline-block;
}
.div_input{
    padding-top: 10px;
    padding-right: 10px;
}
.div_temps_total{
    padding-top: 5px;
    padding-right: 10px;
}

.temps_total{
    display: inline-block;
    font-weight: bold;
}

#bouton_temps{
    margin: 15px;
    padding: 10px;
    border-radius:20px;
    font-size:20px;
    border : none;
    color:white;
    background : linear-gradient(145deg,  rgba(235,0,255,1) 0%,rgba(0,255,235,0.6197829473586309) 100%);
}
.map {
    float:right;
    height: 85vh;
    width: 60%;
    margin-right:3%;
    border-radius: 25px;
  }
  #directions {
    position: absolute;
    width: 30%;
    max-height: 50%;
    right: 20px;
    top: 20px;
    overflow-y: auto;
    background: white;
    font-family: Arial, Helvetica, Verdana;
    line-height: 1.5;
    font-size: 14px;
    padding: 10px;
    display:none;
  }
#bouton_temps:hover{
    padding: 12px;
    margin: 13px;

}

#nb_km{
    border-radius:10px;
    padding:5px;
    border:none;
}

@media only screen and (max-device-width: 992px) {
body{
    height :190vh;
}
.map{
    float: initial;
    width: 80%;
    margin-left:10%;
}
.vehicule_list{
    width: 80%;
    margin-left:10%;
    padding-left:4px;
    padding-right: 4px;
}
}


.select {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 50%;
    
}   
select:hover {
    color: #444645;
    background: #ddd;
    
    }
.select select {
        
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 0px solid #000000;
        border-radius: 45px;
        background: #e6e6e6;
        color: #7b7b7b;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        
}

.select select::-ms-expand {
    display: none;
    

}
.select select:hover,
.select select:focus {
    color: #000000;
    background: #e0e0e0;
    
    
}
.select select:disabled {
    opacity: 0.2;
    pointer-events: none;
    
}
.select_arrow {
    position: absolute;
    top: 13px;
    right: 18px;
    width: 0px;
    height: 0px;
    border: solid #7b7b7b;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #000000;
    
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

